// features
.section-features {
   margin-top: 100px;
}


.section-title {
   font-size: 32px;
   line-height: 32px;
   font-weight: 700;
   color: #010101;
   text-align: center;
}


.section-subtitle {
   font-size: 20px;
   line-height: 24px;
   font-weight: 400;
   color: #898989;
   text-align: center;
   max-width: 715px;
   margin: 0 auto;
   margin-top: 20px;
}

.features-wrapper {
   margin-top: 90px;
   display: flex;
   flex-wrap: wrap;

}

.feature-item {
   display: flex;
   flex-basis: 33.3333%;
   margin-bottom: 90px;

   &__icon {
      margin-right: 30px;
   }


   &__title {
      font-size: 22px;
      line-height: 24px;
      font-weight: 700;
      color: #010101;
      margin-bottom: 10px;
   }

   &__descrip {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: #898989;
      max-width: 199px;

   }
}

@media(max-width:576px) {
   .feature-item {
      flex-basis: 100%;
      justify-content: center;
   }
}